@{
    ViewData["Title"] = "Autobiography";
}

<div class="about-me">
	<img src="../images/about.jpg" />
	<div class="about-me-text">
		<h1>About Me</h1>
		<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus porttitor tincidunt sem, a molestie est posuere id. Sed et maximus magna. Curabitur non tincidunt mauris. Fusce sed massa blandit, semper est a, tincidunt metus. Fusce rutrum ante sed ultrices suscipit. Etiam sit amet quam eu diam egestas sollicitudin et id purus. Vestibulum tristique gravida lorem, ac vehicula felis rutrum in. Praesent auctor feugiat eros id malesuada. Integer mauris turpis, rutrum quis mauris et, mattis hendrerit mauris. Donec volutpat et mi sit amet interdum. Vestibulum leo eros, scelerisque et erat nec, posuere posuere orci. Ut et sollicitudin nisi, id placerat mi. Sed ac eros sem. Pellentesque at posuere nunc.
		<br /><br/>Vivamus lacinia lorem metus. Quisque placerat sapien at tincidunt vulputate. Praesent convallis tortor euismod lectus accumsan, eu facilisis arcu consectetur. Suspendisse vulputate egestas elementum. Curabitur faucibus massa eget ultrices laoreet. Aliquam malesuada tempor nulla vitae elementum. Vivamus sagittis massa id magna scelerisque, quis iaculis erat consectetur. Suspendisse potenti. Nunc vitae massa id lacus viverra rhoncus. Curabitur euismod cursus mauris id facilisis. Nunc vulputate risus vel suscipit gravida. Integer eget semper purus. </p>
	</div>
	</div>
