@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="css/main.css">
 <div class="main-container">
  <div class="main-text">
      <h1>Lila Stone</h1>
      <h2>Artist</h2>
  </div>
</div> 
