@{
    ViewData["Title"] = "Tutorials";
}

<link rel="stylesheet" href="@Url.Content("~/css/tutorials.css")">

<div class="wrap">
    <div class="responsive">
    <div class="tut">
        <video src="/home/video?videoFileName=tut1.mp4" controls></video>
        <a href="/home/downloadvideo?videoFileName=tut1.mp4">Download video</a>
    </div>
  </div>

  <div class="responsive">
    <div class="tut">
        <video src="/home/video?videoFileName=tut2.mp4" controls></video>
        <a href="/home/downloadvideo?videoFileName=tut2.mp4" >Download video</a>
    </div>
  </div>
  <div class="responsive">
    <div class="tut">
        <video src="/home/video?videoFileName=tut3.mp4" controls></video>
        <a href="/home/downloadvideo?videoFileName=tut3.mp4" >Download video</a>
    </div>
  </div>
  <div class="responsive">
    <div class="tut">
        <video src="/home/video?videoFileName=tut4.mp4" controls></video>
        <a href="/home/downloadvideo?videoFileName=tut4.mp4" >Download video</a>
    </div>
  </div>
  </div>