div.tut {
    border: 1px solid #ccc;
    background-color: #c9e8fb;
}

    div.tut video {
        width: 100%;
        object-fit: cover;
    }

div.desc {
    padding: 1rem;
    text-align: center;
}

.tut{
    position: relative;
}

    .tut a {
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 5px;
        text-decoration: none;
        color: black;
    }

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0.5rem 0.5rem;
    float: left;
    width: 50%;
}

.wrap {
    margin-top: 1vh;
    margin-left: 5vw;
    margin-right: 5vw;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 100%;
    }
}


